<!doctype html>
<html ng-app="zapis">
    <head>
        <meta charset="utf-8" />
        <title>Kedy mám zápis?</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

        <script src="data.js"></script>
        <script src="app.js"></script>
    </head>
    <style>
        body {max-width: 50em; margin: 0 auto; font-size: 100%;}
        #results {margin-top: 1em;}
        .date, .time {font-size: 120%;}
        .result-item {padding: 1em; text-align: center;}

        #bc-studium, #mgr-studium {display: none;}

        #footer {margin-top: 2em; border-top: medium solid #CCC;}
    </style>
    <script>
        function bc() {
            document.getElementById('bc-studium').style.display='block';
            document.getElementById('mgr-studium').previousSibling.previousSibling.style.display='none';
        }
        function mgr() {
            document.getElementById('mgr-studium').style.display='block';
            document.getElementById('bc-studium').previousSibling.previousSibling.style.display='none';
        }
    </script>
    <body >
        <h1>Kedy mám zápis?</h1>

        <p><a href="http://www.fmph.uniba.sk">FMFI UK</a>, akademický rok 2013/2014.</p>
        <p>Oficiálne dáta sú dostupné na <a href="http://www.fmph.uniba.sk/index.php?id=120">stránke fakulty</a>. Prváci bc. štúdia majú <a href="http://www.fmph.uniba.sk/index.php?id=120#c3750">špeciálne pokyny</a>.</p>

        <div ng-controller="MainController">
            <h2><a href="#" onclick="bc()">Bc štúdium</a></h2>
            <fieldset id="bc-studium">
                <div>
                    <label for="bc-odbor">Odbor:</label>
                    <select id="bc-odbor" ng-model="$parent.vybranyBcOdbor" ng-options="option for option in bcOdbory" ng-change="nacitajBcProgramy()"></select>
                </div>
              
                <div>
                    <label for="bc-program" ng-show="bcProgramy.length">Študijný program:</label>
                    <select id="bc-program" ng-model="vybranyBcProgram" ng-options="option for option in bcProgramy" ng-show="bcProgramy.length" ng-change="nacitajBcRoky()"></select>
                 </div>
              
                <div>
                    <label for="rok-studia" ng-show="bcRoky.length">Rok štúdia:</label>
                    <select name="rokStudia" id="rok-studia" ng-model="vybranyBcRokStudia" ng-options="option for option in bcRoky" ng-show="bcRoky.length"></select>
                </div>

                <button ng-click="findBc()">Hľadaj</button>
            </fieldset>

            <h2><a href="#" onclick="mgr()">Mgr štúdium</a></h2>
            <fieldset id="mgr-studium">
                <div>
                    <label for="mgr-odbor">Odbor:</label>
                    <select id="mgr-odbor" ng-model="vybranyMgrOdbor" ng-options="option for option in mgrOdbory" ng-change="nacitajMgrProgramy()"></select>
                </div>
              
                <div>
                    <label for="mgr-program" ng-show="mgrProgramy.length">Študijný program:</label>
                    <select id="mgr-program" ng-model="vybranyMgrProgram" ng-options="option for option in mgrProgramy" ng-show="mgrProgramy.length" ng-change="nacitajMgrRoky()"></select>
                 </div>
              
                <div>
                    <label for="rok-studia" ng-show="mgrRoky.length">Rok štúdia:</label>
                    <select name="rokStudia" id="rok-studia" ng-model="vybranyMgrRokStudia" ng-options="option for option in mgrRoky" ng-show="mgrRoky.length"></select>
            </div>

                <button ng-click="findMgr()">Hľadaj</button>
            </fieldset>

            <div id="results">
                <div>Študenti <strong>{{ vybranyRokStudia }}</strong> roku štúdia študijného programu <strong>{{ vybranyProgram }}</strong> majú zápis:</div>
                <div class="result-item"><span class="date">{{ result.date }}</span> o <span class="time">{{ result.time }}</span> v miestnosti <span class="room">{{ result.room }}</span> ({{ result.referent }})</div>
                <p>Nezabudni <a href="http://www.fmph.uniba.sk/index.php?id=2735">v AISe vykonať predzápis</a>, <a href="http://www.fmph.uniba.sk/index.php?id=120#c2849">zaplatiť validačnú známku</a> a zobrať si preukaz študenta (ISIC).</p>
            </div>
        </div>

        <footer id="footer">
            <p>Kristián Valentín, 2013. Vytvorené pomocou <a href="http://angularjs.org/">AngularJS</a>. Zdrojový kód je dostupný na <a href="https://github.com/kikoval/kedy-mam-zapis">GitHub-e</a>.</p>
        </footer>

  </body>
</html>
